@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

body {
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  color:#66696a;
}

h1 {
  font-style: bold;
  font-size: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.nav {
  width: 100%;
  margin-bottom: 100px;
}

.nav ul {
  width: fit-content; 
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.nav ul li{
  display: inline-block;
  margin: 0 45px;
}

.line {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:#66696a;
}

.material-icons {
  font-size: 20px;
  transition: .3s ease-in-out;
  color:#66696a;
}

.material-icons:hover {
  font-size:40px;
  color:rgb(60, 138, 255);
}

.event {
  margin: 50px 60px;
  color: #757575;
  font-weight: 300;
}


.event-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 3em;
}