@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

body {
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  color:#66696a;
  padding:0;
  margin: 0;
}

h1 {
  font-style: bold;
  font-size: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.nav {
  width: 100%;
  margin-bottom: 10px;
}

.nav ul {
  width: fit-content; 
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.nav ul li{
  display: inline-block;
  margin: 0 45px;
}

.line {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:#66696a;
}

.material-icons {
  font-size: 2em;
  transition: .3s ease-in-out;
  color:#66696a;
}

.material-icons:hover,
.selected {
  font-size:40px;
  color:#5594f2;
}

.content-header{
  padding: 50px 60px;
}

.content-header h1 {
  text-align: left;
  color: white;
  font-weight: bolder;
}

.content {
  padding: 50px 60px;
  font-size: 20px;
  color: #757575;
  font-weight: 300;
}
.content a{
  color:inherit;
  text-decoration: none;
}

.content-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 3em;
}


.footer{
  display: block;
  text-align: center;
  position: relative;
  clear: both;
  font-weight:500
}
.footer .icon {
  font-weight: bolder;
}

.footer a{
  color:#4685cf;
  text-decoration: none;
}

.heart {
  color:#cf4646;
}

.code {
  color:#4685cf;
}